{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <h1 class="display-4">
        Skystore
    </h1>

    <p class="lead">
        Skystore — отличный вариант хранения ваших продуктов.
    </p>

</div>

<div class="row text-center">

    {% for product in products %}

    <div class="col-3">

        <div class="card mb-4 box-shadow">

            {% if product.image %}
            <img src="{{ product.image.url }}"
                 class="card-img-top">
            {% endif %}

            <div class="card-header">

                <h4 class="my-0 font-weight-normal">
                    {{ product.name }}
                </h4>

            </div>

            <div class="card-body">

                <p>
                    {{ product.description|truncatechars:100 }}
                </p>

                <h1 class="card-title pricing-card-title">
                    {{ product.price }} ₽
                </h1>

                <a href="{% url 'catalog:product_detail' product.pk %}"
                   class="btn btn-lg btn-block btn-outline-primary">
                    Подробнее
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}
