{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">

    <h1 class="display-4">
        Skystore
    </h1>

    <p class="lead">
        Skystore — отличный вариант хранения ваших продуктов.
    </p>

</div>

<div class="row text-center">

    {% for product in page_obj %}

    <div class="col-3">

        <div class="card mb-4 box-shadow">

            {% if product.image %}
            <img src="{{ product.image.url }}"
                 class="card-img-top">
            {% endif %}

            <div class="card-header">

                <h4 class="my-0 font-weight-normal">
                    {{ product.name }}
                </h4>

            </div>

            <div class="card-body">

                <p>
                    {{ product.description|truncatechars:100 }}
                </p>

                <h1 class="card-title pricing-card-title">
                    {{ product.price }} ₽
                </h1>

                <a href="{% url 'catalog:product_detail' product.pk %}"
                   class="btn btn-lg btn-block btn-outline-primary">
                    Подробнее
                </a>

            </div>

        </div>

    </div>

    {% endfor %}

</div>

<div class="row mt-4">

    <div class="col-12">

        <nav>

            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}">
                        Назад
                    </a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link">
                        {{ page_obj.number }}
                    </a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}">
                        Вперед
                    </a>
                </li>
                {% endif %}

            </ul>

        </nav>

    </div>

</div>

{% endblock %}
